<article class="clip card">
  <div class="clip-title">
    {% if clip.favicon %}
      <img src="{{ clip.favicon }}" width="1.2em" height="1.2em" {% if not eagerLoadImage %}loading="lazy"{% endif %}}>
    {% endif %}
    <a href="{{ clip.url }}">{{ clip.title }}</a>
  </div>

  <div class="info-list">
    {% for tag in clip.tags %}
      <a href="/clip/tag/#{{ tag | slug }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </div>

  {% if clip.note %}
    <div class="clip-note text-grid-container">
      <div class="text-grid">{{ clip.note | md | cjk | safe }}</div>
    </div>
  {% endif %}
</article>