<article class="clip">
  {% if clip.favicon %}
    <img src="{{ clip.favicon }}">
  {% endif %}
  <a href="{{ clip.url }}">{{ clip.title }}</a>

  <div class="post-info">
    {% for tag in clip.tags %}
      <a href="/clip/tag/#{{ tag | slug }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </div>

  {% if clip.note %}
    <p>{{ clip.note }}</p>
  {% endif %}
</article>