<article id="{{ log.basename | slug }}" class="log">
  {{ log.content | md | safe }}

  <time datetime="{{ log.date | date('DATETIME') }}">
      <a href="/log/#{{ log.basename | slug }}">{{ log.date | date('yyyy-MM-dd') }}</a>
  </time>
</article>