<article class="music-album card">
  <div class="album-main">
      
    {# cover #}
    {% set imagePath = "/music/image/" + album.image %}
    {% set thumbPath = "/music/image/" + album.image | with_ext('small.webp') %}
    {% set size = imageSize(imagePath) %}
    <div class="album-cover">
      <a href="{{ imagePath }}">
        <img src="{{ thumbPath }}" alt="{{ album.title }}" width="{{ size.width }}" height="{{ size.height }}" {% if not eagerLoadImage %}loading="lazy"{% endif %}}>
      </a>
    </div>

    <div class="album-info">
      <div class="album-title info-list">
        {# title, date, country #}
        <a href="#album-{{ album.title | slug }}" class="bare-link">
          <h2 id="album-{{ album.title | slug }}">{{ album.title }}</h2>
        </a>

        <time datetime="{{ album.date | date('DATETIME') }}">{{ album.date | date('yyyy') }}</time>

        {% if album.country %}
          <span class="album-country small">{{ album.country }}</span>
        {% endif %}
      </div>

      {# artists #}
      <div class="album-artists">
        {% for artist in album.artists %}
          <span class="artist">{{ artist }}</span>
        {% endfor %}
      </div>

      {# details #}
      <div class="album-detail">

        {% if album.label %}
          <span class="info-key">Label</span>
          <span class="info-list album-label">{{ album.label }}</span>
        {% endif %}

        {% if album.genre %}
          <span class="info-key">Genre</span>
          <div class="info-list">
            {% for genre in album.genre %}
              <a href="/music/tag/#genre-{{ genre | slug }}" class="album-genre">{{ genre }}</a>
            {% endfor %}
          </div>
        {% endif %}

        {% if album.styles %}
          <span class="info-key">Style</span>
          <div class="info-list">
            {% for style in album.styles %}
              <a href="/music/tag/#style-{{ style | slug }}" class="album-style">{{ style }}</a>
            {% endfor %}
          </div>
        {% endif %}

      </div>

      {# links #}
      <div class="info-list">
        {% if album.link %}
          <a href="{{ album.link }}" class="album-link small">Link</a>
        {% endif %}

        {% if album.discogs_master_id %}
          <a href="https://www.discogs.com/master/{{ album.discogs_master_id }}" class="album-link small">Discogs</a>
        {% elif album.discogs_id %}
          <a href="https://www.discogs.com/release/{{ album.discogs_id }}" class="album-link small">Discogs</a>
        {% endif %}

        {% if album.video %}
          <a href="{{ album.video }}" class="album-link small">Youtube</a>
        {% endif %}
      </div>

    </div>
  </div>

  {# note #}
  {% if album.content %}
    <div class="album-note text-grid-container">
      <div class="text-grid">{{ album.content | md | cjk | safe }}</div>
    </div>
  {% endif %}
</article>
