<article class="log card">
  <div class="text-grid-container">
    <div class="text-grid">{{ log.content | md | cjk | safe }}</div>
  </div>

  <time datetime="{{ log.date | date('DATETIME') }}">
      <a href="/music/post/{{ log.basename | slug }}/" class="bare-link">{{ log.date | date('yyyy-MM-dd') }}</a>
  </time>
</article>