<article class="note-card card" {% if note.basename in site.featuredNotes %}data-featured{% endif %}>
  <a href="{{ note.url }}" class="bare-link">
    {% if note.title %}
      <h1>{{ note.title }}</h1>
    {% else %}
      <span>💭</span>
    {% endif %}
  </a>

  <div class="info-list">
    <time datetime="{{ note.date | date('DATETIME') }}">
      {{ note.date | date('yyyy-MM-dd') }}
    </time>

    {% for tag in note.tags %}
      {% set page = search.page("type=tag tag='" + tag + "'") %}
      {% if page %}
        <a href="/note/tag/#{{ tag | slug }}" class="tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="note-digest card-note text-grid-container">
    <div class="text-grid">{{ note.digest | cjk | safe }}</div>
  </div>
</article>
