{% set name = track.file | replace(".mp3", "") %}
<article id="{{ name | slug }}" class="track card">
  <audio src="/track/audio/{{ track.file }}" controls></audio>

  <div class="card-note track-note text-grid-container">
    <div class="text-grid">
      <p class="track-title"><em>{{ name }}</em></p>
      {% if track.text %}
        {{ track.text | md | cjk | safe }}
      {% endif %}
    </div>
  </div>

  <time datetime="{{ track.date | date('DATETIME') }}">
    <a href="/track/#{{ name | slug }}" class="bare-link">{{ track.date | date('yyyy-MM-dd') }}</a>
  </time>
</article>
