{% set name = track.file | replace(".mp3", "") %}
<article id="{{ name | slug }}" class="track card">
  <audio src="/track/audio/{{ track.file }}" controls></audio>

  <p class="track-title card-note"><em>{{ name }}</em></p>
  {% if track.text %}
    <p class="track-note card-note">{{ track.text }}</p>
  {% endif %}

  <time datetime="{{ track.date | date('DATETIME') }}">
    <a href="/track/#{{ name | slug }}" class="bare-link">{{ track.date | date('yyyy-MM-dd') }}</a>
  </time>
</article>
