---
url: /photo/
title: 相册
description: 我拍的照片。还有一些架空世界截图之类的。目前还没有分类，不过想象着做照片书的感觉仔细编排了顺序。
---

<div class="grid photo-grid">
  {% asyncEach photo in photos %}
    {% include "components/photo.njk" %}
  {% endeach %}
</div>