---
url: /music/
---

{# 1st nav #}
<nav class="nav-links section-links">
  <ul>
    <span>&gt;</span>
    <li><a href="#albums">收藏</a></li>
    <li><a href="#logs">日志</a></li>
  </ul>
</nav>

{# 1. albums #}
<section>
  <h2 id="albums">收藏</h2>  

  {# 2nd album nav #}
  <nav class="nav-links section-links">
    <ul>
      <span>&gt;&gt;</span>
      {% for category in categories %}
        <li><a href="#{{ category | slug }}">{{ categoryName[category] }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <a href="/music/tag/"><p>[按标签分类]</p></a>

  {% for category in categories %}
    <section>
      <h3 id="{{ category | slug }}">{{ categoryName[category] }}</h3>

      {% set query = "type=music-album category='" + category + "'" %}
      {% set albums = search.pages(query, "date=desc") %}
      <div class="music-album-grid">
        {% for album in albums %}
        {% include "components/music-album.njk" %}
        {% endfor %}
      </div>
    </section>
  {% endfor %}
</section>

{# 2. log #}
<section>
  <h2 id="logs">日志</h2>
  {% set logs = search.pages("type=music-log", "date=desc") %}
  <div class="log-grid">
    {% for log in logs %}
    {% include "components/music-log.njk" %}
    {% endfor %}
  </div>
</section>
