---
navlinks:
  - ["/", "家"]
  - ["/note/", "笔记本"]
  - ["/log/", "手帐"]
  - ["/album/", "唱片盒"]
  - ["/photo/", "相册"]
  - ["/clip/", "剪报"]
  - ["/track/", "八音盒"]
---

<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/note.css">
    <link rel="stylesheet" href="/style/note-list.css">
    <link rel="stylesheet" href="/style/log-list.css">
    <link rel="stylesheet" href="/style/photo-grid.css">
    <link rel="stylesheet" href="/style/clip.css">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">
    <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title }}">
  </head>
  <body>
    <header>
      <a class="bare-link" href="/"><h1>Nostalgic Future Catalog</h1></a>
      <small>{{ site.description }}</small>
    </header>

    <nav>
      <ul>
        {% for url_, name in navlinks %}
          <li><a href="{{ url_ }}" class="bare-link" {% if url == url_ %}aria-current="page"{% endif %}>{{ name }}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer>
      <small>&copy; cobalt {{ date | date('yyyy') }}</small>
    </footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>
