---
layout: layouts/base.njk
---

<article class="note text-grid-container">
  <header class="note-header">
    <a href="{{ url }}" class="bare-link"><h1>{{ title }}</h1></a>

    <nav class="info-list">
      <time datetime="{{ date | date('DATETIME') }}">
        {{ date | date('yyyy-MM-dd') }}
      </time>

      {% if category %}
        <a href="/note/#{{ category | slug }}" class="category">{{ categoryName[category] }}</a>
      {% endif %}

      {% for tag in tags %}
        <a href="/note/tag/#{{ tag | slug }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </nav>
  </header>

  <main class="text-grid">
    {{ content | cjk | safe }}
  </main>
</article>
