<div class="log-list">
  {% for log in logs %}
    <article>
      <p>{{ log.content | safe }}</p>

      <time datetime="{{ log.date | date('DATETIME') }}">
          {{ log.date | date('yyyy-MM-dd') }}
      </time>
    </article>
  {% endfor %}
</div>
