<div class="note-list">
  {% for note in notes %}
    <article>
      <a href="{{ note.url }}" class="bare-link">
        {% if note.title %}
          <strong>{{ note.title }}</strong>
        {% else %}
          <code>{{ note.url }}</code>
        {% endif %}
      </a>

      <div class="post-info">
        <time datetime="{{ note.date | date('DATETIME') }}">
          {{ note.date | date('yyyy-MM-dd') }}
        </time>

        {% for tag in note.tags %}
          {% set page = search.page("type=tag tag='" + tag + "'") %}
          {% if page %}
            <a href="{{ page.url }}" class="tag">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>

      <p class="multiline-ellipsis">{{ note.digest }}</p>
    </article>
  {% endfor %}
</div>
