<div class="photo-grid">
  {% for photo in photos %}
    <figure>
      <a href="/photo/image/{{ photo.file }}">
        <img src="/photo/image/{{ photo.file | with_ext('small.jpg') }}" loading="lazy">
      </a>
      <figcaption>
        <p>{{ photo.note }}</p>
        <time datetime="{{ photo.date | date('DATETIME') }}">
          {{ photo.date | date('yyyy-MM-dd') }}
        </time>
      </figcaption>
    </figure>
  {% endfor %}
</div>
