---
url: /note/
title: 笔记本
---

{# category nav #}
<nav class="nav-links section-links">
  <ul>
    <span>&gt;</span>
    {% for category in categories %}
      <li><a href="#{{ category | slug }}">{{ categoryName[category] }}</a></li>
    {% endfor %}
  </ul>
</nav>
<a href="/note/tag/"><p>[按标签分类]</p></a>

{% for category in categories %}
  <section>
    <h2 id="{{ category | slug }}">{{ categoryName[category] }}</h2>

    {% set query = "type=note category='" + category + "'" %}
    {% set notes = search.pages(query, "date=desc") %}
    <div class="note-grid">
      {% for note in notes %}
      {% include "components/note-card.njk" %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
