.album-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 2em;

    article {
        display: flex;
        gap: 1em;
        border: 1px solid lightgray;
        border-radius: 0.8em;
        padding: 1em;
        margin-block-end: auto;

        /* cover */
        .album-cover {
            flex: 2;
        }

        .album-info {
            flex: 3;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.5lh;

            .album-title {
                h2 {
                    display: inline;
                    font-size: 1.2em;
                    color: var(--black);
                }

                .album-country {
                    font-size: 0.8em;
                    line-height: 1;
                    color: gray;
                }

                *:not(:last-child) {
                    margin-inline-end: 0.3em;
                }
            }

            .album-artists {
                display: flex;
                flex-wrap: wrap;
                column-gap: 0.5em;

                span {
                    font-size: 0.9em;
                    font-style: italic;
                }
            }

            .album-detail {
                display: grid;
                grid-template-columns: min-content 1fr;
                grid-auto-rows: max-content;
                gap: 0.2lh 0.5em;

                font-size: 0.8em;

                .info-key {
                    font-weight: 600;
                }

                .info-value {
                    *:not(:last-child) {
                        margin-inline-end: 0.3em;
                    }
                }
            }

            summary {
                font-size: 0.9em;
            }

            .album-note {
                font-size: 0.9em;
                line-height: 1.35;
            }
        }
    }
}