:root {
  --white: #fcfcfc;
  --black: #1c1c1c;
  --primary: cadetblue;

  --sans: -apple-system, system-ui, sans-serif;
  --serif: serif;
}

html,
body {
  font-family: var(--sans);
  color: var(--black);
  background-color: var(--white);
}

/* base layout */
body {
  padding-inline: 7vw;

  /* header */
  >header {
    margin-block-start: 2lh;

    /* home link */
    >a {
      h1 {
        display: inline-block;
        margin-block: 0;
        margin-inline-end: 0.5rem;
      }

      color: var(--black);
    }

    /* description */
    small {
      display: inline-block;
      margin-block-start: 0.5lh;
      color: gray;
    }
  }

  /* navigation links */
  >nav {
    margin-block: 0.6lh 2lh;
  }

  /* main content area */
  >main {
    margin-block: 3lh;
  }

  /* footer */
  >footer {
    margin-block: 2lh;

    /* copyright */
    >* {
      display: block;
      text-align: end;
      color: gray;
    }
  }
}

.nav-links {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        color: var(--black);
        text-wrap: nowrap;
      }

      [aria-current="page"] {
        font-weight: bold;
      }
    }
  }
}

section+section {
  margin-block-start: 2lh;
}

.section-links {
  margin-block: 0 1lh;
  font-style: italic;
}

.bare-link {
  &:not(:hover) {
    text-decoration: none;
  }
}

.tag,
.category {
  font-size: 0.8rem;
  text-transform: lowercase;
  color: gray;
}

time {
  font-size: 0.8rem;
  color: gray;
}

.post-info>* {
  margin-inline-end: 0.3em;
}

/* not working on vertical writing mode */
.multiline-ellipsis {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: block-axis;
  -webkit-line-clamp: 4;
}