:root {
  --white: #fffdf8;
  --black: #242424;
  --gray: #888;
  --lightgray: #eee;
  --primary: #a1c390;
  --primary-dark: #2a6c45;

  --zh-simp-font: "Noto Sans SC", sans-serif;
  --zh-trad-font: "Noto Sans TC", sans-serif;
  --ja-font: "Noto Sans JP", sans-serif;
  --latin-font: Inter, sans-serif;
  --default-font: Inter, "Noto Sans SC", sans-serif;
  --title-weight: 550;
  --bold-weight: 600;
  --small-font-size: 0.85rem;

  --dyn-block-pad: clamp(0.5lh, 5vb, 2lh);
  --dyn-inline-pad: max(1em, calc(10vi - 1.5em));
  --dyn-block-gap: min(0.5vb, 2lh);
  --dyn-row-gap: clamp(1lh, 2vb, 2lh);
  --dyn-col-gap: clamp(1em, 2vi, 2em);
}

@supports (font-variation-settings: normal) {
  :root {
    --latin-font: InterVariable, sans-serif;
    --default-font: InterVariable, "Noto Sans SC", sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #121113;
    --black: #e7e6e0;
    --gray: #888;
    --lightgray: #222;
    --primary: #458a62;
    --primary-dark: #8eb57b;
  }
}

html,
body {
  font-family: var(--default-font);
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss03' 1;
  font-size: 15px;
  font-weight: 400;
  font-optical-sizing: auto;
  line-height: 1.35;

  color: var(--black);
  background-color: var(--white);
}

/* MARK: Reset */

a {
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--title-weight, 600);
}

strong {
  font-weight: var(--bold-weight, 600);
}

img {
  block-size: auto;
}

blockquote {
  margin-inline: 0;
  padding-inline-start: 0.85em;
  border-inline-start: 0.15em solid var(--black);
}

time {
  font-size: var(--small-font-size, 0.85rem);

  &,
  >* {
    color: var(--gray);
  }
}

figure {
  margin-block: 1lh;

  figcaption {
    margin-block-start: 0.5lh;
  }
}

section+section {
  margin-block-start: 2lh;
}

/* MARK: Base layout */
body {
  display: flex;
  flex-direction: column;
  gap: var(--dyn-block-gap, 0.25lh);
  padding-block: var(--dyn-block-pad, 1lh);
  padding-inline: var(--dyn-inline-pad, 1em);

  >header,
  >footer {
    margin-block: 0;
  }

  >main {
    margin-block: 2lh;
  }
}

/* adjust base layout for home page */
body:has(.home-grid) {
  block-size: 100dvb;
  padding-block: 0.5lh 0;
  padding-inline: 0;

  >header {
    padding-inline: var(--dyn-inline-pad, 1em);
  }

  >main {
    /* make it fit */
    min-block-size: 0;
    margin-block: 0;
  }

  >footer {
    position: fixed;
    inset-block-end: 0;
    inset-inline-end: 0;
    padding-block: var(--dyn-block-gap, 0.25lh);
    padding-inline: 1.5em 2em;
    background-color: var(--white);
    border: 1px solid var(--lightgray);
    border-start-start-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  }

  .home-grid {
    padding-inline: var(--dyn-inline-pad, 1em);
  }

  .home-list {
    padding-block-end: var(--dyn-block-pad, 1lh);
  }
}

body>header {
  display: flex;
  align-items: start;
  gap: 0.5em;

  /* icon */
  img {
    min-inline-size: 3lh;
    max-block-size: 3lh;
  }

  /* home link */
  .main-title>a>h1 {
    display: inline;
    font-weight: 650;
    margin-block: 0;
    margin-inline-end: 0.5em;
  }

  .main-description {
    display: inline-block;
    margin-block-start: var(--dyn-block-gap, 0.25lh);
    color: var(--gray);
  }

  /* navigation links */
  nav {
    margin-block-start: var(--dyn-block-gap, 0.25lh);
  }
}

body>footer {
  display: flex;
  justify-content: end;
  gap: 1em;

  a {
    color: var(--gray);
  }

  .nav-links {
    line-height: unset;
  }
}

/* MARK: Shared */

.nav-links {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--dyn-block-gap, 0.25lh) 1em;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-wrap: nowrap;
  }

  [aria-current="page"] {
    font-weight: var(--bold-weight, 600);
  }

  label {
    color: var(--gray)
  }
}

.section-links {
  font-style: italic;

  &+.section-links {
    margin-block-start: 0.5lh;
  }
}

.bare-link {
  &:not(:hover) {
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  gap: var(--dyn-row-gap, 1lh) var(--dyn-col-gap, 1em);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--dyn-block-gap, 0.25lh);

  border: 1px solid var(--lightgray);
  border-radius: 1em;
  margin-block-end: auto;
  /* count in border width */
  padding: calc(1em - 1px);

  p {
    margin-block: 0;
  }

  p+p {
    margin-block: 0.25lh 0;
  }
}

.small {
  font-size: var(--small-font-size, 0.85rem);
  color: var(--gray);
}

.tag,
.category {
  font-size: var(--small-font-size, 0.85rem);
  text-transform: lowercase;
  color: var(--gray);
}

.info-list {
  font-size: var(--small-font-size, 0.85rem);

  >*:not(:last-child) {
    margin-inline-end: 0.5em;
  }
}

details.section-detail {
  margin-block-end: 1lh;

  summary {
    color: var(--gray);
  }
}

/* MARK: Home page */
.home-grid {
  display: grid;
  grid-template-columns: repeat(8, clamp(22em, 85%, 26em));
  grid-template-rows: 100%;
  grid-template-areas: "note recent-note photo log music music-log clip track";
  column-gap: var(--dyn-col-gap, 1em);
  block-size: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  >section {
    display: flex;
    flex-direction: column;
    margin-block-start: 0;
  }

  .section-title {
    margin-block: 0 0.5lh;
  }

  .home-list {
    display: flex;
    flex-direction: column;
    gap: var(--dyn-row-gap, 1lh);
    overflow-y: auto;
    overflow-x: hidden;
  }

  /* don't show photo note */
  .photo-list figure p {
    display: none;
  }

  section#note {
    grid-area: note;
  }

  section#recent-note {
    grid-area: recent-note;
  }

  section#log {
    grid-area: log;
  }

  section#music {
    grid-area: music;
  }

  section#music-log {
    grid-area: music-log;
  }

  section#photo {
    grid-area: photo;
  }

  section#clip {
    grid-area: clip;
  }

  section#track {
    grid-area: track;
  }

  /* horizontal page view for mobile */
  @media screen and (max-width: 50em) {
    scroll-snap-type: x mandatory;

    >section {
      scroll-snap-align: center;
    }
  }

  body:has(#tategaki-toggle:checked) & {
    overflow-y: auto;
    overflow-x: hidden;

    .home-list {
      overflow-x: auto;
      overflow-y: hidden;
    }

    @media screen and (max-width: 50em) {
      scroll-snap-type: y mandatory;
    }
  }
}


/* MARK: Note */
article.note-card {
  border-radius: 0;
  margin-block: 0;

  .note-card-title {
    color: var(--primary);

    h1 {
      font-size: 1.2rem;
      margin-block: 0;
    }
  }

  &[data-featured] .note-card-title {
    color: var(--primary-dark);
  }

  /* digest */
  .note-digest {
    /* descender... */
    max-block-size: 4.1lh;
    overflow: hidden;

    p:first-child {
      margin-block: 0;
    }
  }
}

article.note {
  max-inline-size: 40em;
  line-height: 1.5;

  /* title */
  header>a {
    color: var(--primary);

    h1 {
      margin-block: 0 0.2lh;
    }
  }
}

/* MARK: Log */
article.log {
  line-height: 1.5;
}

/* MARK: Music */
article.music-album {
  .album-main {
    display: flex;
    gap: 1em;

    /* cover */
    .album-cover {
      flex: 2;
    }

    .album-info {
      flex: 3;
    }
  }

  /* info area */
  .album-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25lh;
  }

  /* title */
  .album-title {
    h2 {
      display: inline;
      font-size: 1.2rem;
    }
  }

  /* artists */
  .album-artists {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;

    line-height: 1.15;

    span {
      font-style: italic;
    }
  }

  /* detail grid */
  .album-detail {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: max-content;
    gap: 0 0.4rem;

    font-size: var(--small-font-size, 0.85rem);

    .info-key {
      font-weight: 600;
    }
  }

  .album-note {
    margin-block-start: 0.5lh;
  }
}

/* MARK: Photo */
.photo-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

figure.photo {
  margin: auto;

  figcaption {
    p {
      margin-block: 0;
    }

    p+p {
      margin-block: 0.25lh 0;
    }
  }
}

/* MARK: Clip */
.clip-grid {
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  gap: 1em;
}

article.clip {
  gap: 0.2lh;
  padding-block: 0.5lh;
  padding-inline: 1em;

  /* favicon */
  img {
    display: inline;
    vertical-align: middle;
    margin-inline-end: 0.5em;
    aspect-ratio: 1 / 1;
    width: 1.2em;
    height: 1.2em;
    object-fit: contain;
  }
}

section.quotes {
  max-inline-size: 40em;
  line-height: 1.5;
}

/* MARK: Track */
article.track {
  audio {
    width: 100%;
    margin-block-end: 0.25lh;
  }
}

/* MARK: Illust */
.illust-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--dyn-row-gap, 1lh) var(--dyn-col-gap, 1em);
  justify-content: space-between;

  img {
    max-block-size: 16lh;
  }

  &::after {
    content: "";
    flex: auto;
  }
}

/* MARK: CJK typography */
body:has(#tategaki-toggle:checked) {
  writing-mode: vertical-rl;
}

.cjk,
.cjk-punc,
.fullwidth-alphabet {
  font-family: var(--zh-simp-font);
}

[lang="zh-Hant"] {
  font-family: var(--zh-trad-font);

  .cjk,
  .fullwidth-alphabet {
    font-family: var(--zh-trad-font);
  }
}

.kana,
[lang|="ja"] {
  font-family: var(--ja-font);

  .cjk,
  .cjk-punc,
  .fullwidth-alphabet {
    font-family: var(--ja-font);
  }
}

.latin,
[lang|="en"] {
  font-family: var(--latin-font);

  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Add space between CJK and latin: a mess... */
/* Because we have to count in elements nested such as in <a> */
.cjk+.latin::before,
.latin+.cjk::before,

.cjk:has(+*>.latin:first-child)::after,
.cjk:has(+*>*:first-child>.latin:first-child)::after,

*:has(>.cjk:last-child)+.latin::before,
*:has(>*:last-child>.cjk:last-child)+.latin::before,

.latin:has(+*>.cjk:first-child)::after,
.latin:has(+*>*:first-child>.cjk:first-child)::after,

*:has(>.latin:last-child)+.cjk::before,
*:has(>*:last-child>.latin:last-child)+.cjk::before {
  content: " ";
  font-size: 0.7rem;
}

.kana+.latin::before,
.latin+.kana::before,

.kana:has(+*>.latin:first-child)::after,
.kana:has(+*>*:first-child>.latin:first-child)::after,

*:has(>.kana:last-child)+.latin::before,
*:has(>*:last-child>.kana:last-child)+.latin::before,

.latin:has(+*>.kana:first-child)::after,
.latin:has(+*>*:first-child>.kana:first-child)::after,

*:has(>.latin:last-child)+.kana::before,
*:has(>*:last-child>.latin:last-child)+.kana::before {
  content: " ";
  font-size: 0.7rem;
}


/* CJK punctuation squeeze */
p>.opening-punc:first-child,
h1>.opening-punc:first-child,
p>*:first-child>.opening-punc:first-child,
h1>*:first-child>.opening-punc:first-child,

.opening-punc+.opening-punc,
.opening-punc+*>.opening-punc:first-child,
*:has(>.opening-punc:last-child)+.opening-punc,

.dot-punc+.opening-punc,
.dot-punc+*>.opening-punc:first-child,
*:has(>.dot-punc:last-child)+.opening-punc,

.closing-punc+.opening-punc,
.closing-punc+*>.opening-punc:first-child,
*:has(>.closing-punc:last-child)+.opening-punc {
  margin-inline-start: -0.5em;
}

p>.closing-punc:last-child,
h1>.closing-punc:last-child,
p>*:last-child>.closing-punc:last-child,
h1>*:last-child>.closing-punc:last-child,

.dot-punc:has(+.closing-punc),
.dot-punc:has(+*>.closing-punc:first-child),
*:has(+.closing-punc)>.dot-punc:last-child,

.closing-punc:has(+.closing-punc),
.closing-punc:has(+*>.closing-punc:first-child),
*:has(+.closing-punc)>.closing-punc:last-child,

.closing-punc:has(+.dot-punc),
.closing-punc:has(+*>.dot-punc:first-child),
*:has(+.dot-punc)>.closing-punc:last-child {
  margin-inline-end: -0.5em;
}

/* Special consideration for leading punc :;?!*/
/* squeeze them only in yokogaki */
body:not(:has(#tategaki-toggle:checked)) {

  .leading-punc+.opening-punc,
  .leading-punc+*>.opening-punc:first-child,
  *:has(>.leading-punc:last-child)+.opening-punc {
    margin-inline-start: -0.5em;
  }

  .leading-punc:has(+.closing-punc),
  .leading-punc:has(+*>.closing-punc:first-child),
  *:has(+.closing-punc)>.leading-punc:last-child,

  .closing-punc:has(+.leading-punc),
  .closing-punc:has(+*>.leading-punc:first-child),
  *:has(+.leading-punc)>.closing-punc:last-child {
    margin-inline-end: -0.5em;
  }
}

/* MARK: Text grid typography */
/* polyfill for `round()` function... */
.text-grid-container {
  container: text-grid / inline-size;
}

.text-grid {
  @container text-grid (min-inline-size: 18em) {
    text-align: justify;
    inline-size: 18em;
  }

  @container text-grid (min-inline-size: 19em) {
    inline-size: 19em;
  }

  @container text-grid (min-inline-size: 20em) {
    inline-size: 20em;
  }

  @container text-grid (min-inline-size: 21em) {
    inline-size: 21em;
  }

  @container text-grid (min-inline-size: 22em) {
    inline-size: 22em;
  }

  @container text-grid (min-inline-size: 23em) {
    inline-size: 23em;
  }

  @container text-grid (min-inline-size: 24em) {
    inline-size: 24em;
  }

  @container text-grid (min-inline-size: 25em) {
    inline-size: 25em;
  }

  @container text-grid (min-inline-size: 26em) {
    inline-size: 26em;
  }

  @container text-grid (min-inline-size: 27em) {
    inline-size: 27em;
  }

  @container text-grid (min-inline-size: 28em) {
    inline-size: 28em;
  }

  @container text-grid (min-inline-size: 29em) {
    inline-size: 29em;
  }

  @container text-grid (min-inline-size: 30em) {
    inline-size: 30em;
  }

  @container text-grid (min-inline-size: 31em) {
    inline-size: 31em;
  }

  @container text-grid (min-inline-size: 32em) {
    inline-size: 32em;
  }

  @container text-grid (min-inline-size: 33em) {
    inline-size: 33em;
  }

  @container text-grid (min-inline-size: 34em) {
    inline-size: 34em;
  }

  @container text-grid (min-inline-size: 35em) {
    inline-size: 35em;
  }

  @container text-grid (min-inline-size: 36em) {
    inline-size: 36em;
  }

  @container text-grid (min-inline-size: 37em) {
    inline-size: 37em;
  }

  @container text-grid (min-inline-size: 38em) {
    inline-size: 38em;
  }

  @container text-grid (min-inline-size: 39em) {
    inline-size: 39em;
  }

  @container text-grid (min-inline-size: 40em) {
    inline-size: 40em;
  }
}