:root {
  --white: #fffdf8;
  --black: #242424;
  --gray: #888;
  --lightgray: #eee;
  --primary: #a1c390;
  --primary-dark: #2a6c45;

  --zh-simp-font: "Source Han Sans SC", "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  --zh-trad-font: "Source Han Sans TC", "Noto Sans CJK TC", "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", sans-serif;
  --ja-font: "Source Han Sans JP", "Noto Sans CJK JP", "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
  --latin-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --line-clamp: 4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #121113;
    --black: #e7e6e0;
    --gray: #888;
    --lightgray: #222;
    --primary: #458a62;
    --primary-dark: #8eb57b;
  }
}

html,
body {
  color: var(--black);
  background-color: var(--white);
}

/* MARK: Reset */

a {
  color: var(--black);
}

time {
  font-size: 0.8rem;

  &,
  >* {
    color: var(--gray);
  }
}

p:has(time) {
  line-height: 1;
}

figure {
  margin-block: 1lh;

  figcaption {
    margin-block-start: 0.5lh;
    font-size: 0.9rem;
  }
}

section+section {
  margin-block-start: 2lh;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2lh;

  padding-block: 1lh;
  padding-inline: 7vi;

  /* header */
  >header {
    display: flex;
    align-items: start;
    gap: 0.5em;
    margin-block: 0;

    /* icon */
    img {
      min-inline-size: 4lh;
      max-block-size: 4lh;
    }

    .main-header {

      /* home link */
      .main-title {
        a h1 {
          display: inline;
          margin-block: 0;
          margin-inline-end: 0.5em;
        }

        /* description */
        small {
          display: inline-block;
          margin-block-start: 0.5lh;
          color: var(--gray);
        }
      }

      /* navigation links */
      nav {
        margin-block-start: 0.5lh;
      }
    }
  }

  /* main content area */
  >main {
    margin-block: 0;
  }

  /* footer */
  >footer {
    display: flex;
    justify-content: end;
    gap: 1em;
    margin-block: 0;

    a {
      color: var(--gray);
    }
  }
}

/* mobile layout */
@media screen and (max-width: 50em) {
  body {
    padding-inline: 4vi;
  }

  div.grid {
    gap: 1em;
  }

  div.grid>article.note-card {
    padding: 1em;
  }
}

/* MARK: Shared */

.nav-links {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        text-wrap: nowrap;
      }

      [aria-current="page"] {
        font-weight: bold;
      }
    }
  }
}

.section-links {
  margin-block: 0 1lh;
  font-style: italic;
}

.bare-link {
  &:not(:hover) {
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 2em;
}

.card {
  border: 1px solid var(--lightgray);
  border-radius: 0.8em;
  margin-block-end: auto;
  padding: 1em;
}

.small {
  font-size: 0.8rem;
  color: var(--gray);
}

.card-note {
  font-size: 0.9rem;
  line-height: 1.35;

  p {
    margin-block: 0.5lh 0;
  }
}

.card-note+time {
  display: block;
  margin-block-start: 0.5lh;
}

.tag,
.category {
  font-size: 0.8rem;
  text-transform: lowercase;
  color: var(--gray);
}

.info-list {
  *:not(:last-child) {
    margin-inline-end: 0.3em;
  }
}

/* MARK: Home page */
.home-grid {
  display: grid;
  grid-template-columns: repeat(6, 20em);
  grid-template-rows: 100%;
  grid-template-areas: "note log music photo clip track";
  column-gap: 1em;

  block-size: 100%;
  padding-inline: 7vi;

  overflow-x: scroll;
  overflow-y: hidden;

  >section {
    display: flex;
    flex-direction: column;

    a>h2 {
      margin-block: 0 0.8lh;
    }

    .home-list {
      display: flex;
      flex-direction: column;
      gap: 1em;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  section#note {
    grid-area: note;

    .note-section {
      gap: 0;

      .note-list {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .note-card {
          padding: 1em;
        }
      }
    }
  }

  section#log {
    grid-area: log;
  }

  section#music {
    grid-area: music;
  }

  section#photo {
    grid-area: photo;

    .photo-list {
      figure.photo {
        p {
          display: none;
        }
      }
    }
  }

  section#clip {
    grid-area: clip;
  }

  section#track {
    grid-area: track;
  }

  /* cancel section spacing */
  section+section {
    margin-block-start: 0;
  }
}

body:has(.home-grid) {
  block-size: 100dvh;
  gap: 0.5lh;
  padding-block: 0.5lh;
  padding-inline: 0;

  >header,
  >footer {
    padding-inline: 7vi;
  }

  >main {
    min-block-size: 0;
  }
}

@media screen and (max-width: 50em) {
  body:has(.home-grid) {
    gap: 0.5lh;
    padding-block: 0.5lh;

    >header,
    >footer {
      padding-inline: 4vi;
    }
  }

  .home-grid {
    /* page-like horizontal view */
    scroll-snap-type: x mandatory;

    >section {
      scroll-snap-align: center;
    }
  }
}


/* MARK: Note */
article.note-card {
  border-radius: 0;
  margin-block: 0;
  padding-block: 1.5lh;
  padding-inline: 1.5em;

  /* title */
  >a {
    color: var(--primary);

    h1 {
      font-size: 1.2rem;
      margin-block: 0 0.2lh;
    }
  }

  &[data-featured]>a {
    color: var(--primary-dark);
  }

  /* digest */
  .note-digest {
    max-block-size: calc(var(--line-clamp) * 1lh);
    overflow: hidden;
    margin-block-start: 0.5lh;

    p:first-child {
      margin-block: 0;
    }
  }
}

article.note {
  max-inline-size: 42em;
  line-height: 1.5;

  /* title */
  header>a {
    color: var(--primary);

    h1 {
      margin-block-end: 0.2lh;
    }
  }
}

/* MARK: Log */
article.log {

  /* content */
  p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-block: 0 0.2lh;
  }
}

/* MARK: Music */
/* .music-album-grid {} */

article.music-album {
  .album-main {
    display: flex;
    gap: 1em;

    /* cover */
    .album-cover {
      flex: 2;
    }

    .album-info {
      flex: 3;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0.5lh;

      /* title */
      .album-title {
        h2 {
          display: inline;
          font-size: 1.2rem;
        }
      }

      /* artists */
      .album-artists {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.5em;

        span {
          font-size: 0.9rem;
          font-style: italic;
        }
      }

      /* detail grid */
      .album-detail {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-auto-rows: max-content;
        gap: 0.2lh 0.5em;

        font-size: 0.8rem;

        .info-key {
          font-weight: 600;
        }
      }
    }
  }
}

/* MARK: Photo */
.photo-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

figure.photo {
  margin: auto;

  /* cancel original margin because card-note already has it */
  &:has(.card-note) {
    figcaption {
      margin-block-start: 0;
    }
  }
}

/* MARK: Clip */
.clip-grid {
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  gap: 1em;
}

article.clip {
  padding-block: 0.6em;
  padding-inline: 1em;

  a {
    line-height: 1.35;
  }

  /* favicon */
  img {
    display: inline;
    vertical-align: middle;
    margin-inline-end: 0.2em;
    width: 1.2em;
    height: 1.2em;
    object-fit: contain;
  }

  /* tags */
  div.info-list {
    margin-block-start: 0.2lh;
  }
}

section.quotes {
  max-inline-size: 42em;
  line-height: 1.5;
}

/* MARK: Track */
article.track {
  audio {
    width: 100%;
  }
}

/* MARK: CJK typography */
.cjk,
.cjk-punc,
.fullwidth-alphabet {
  font-family: var(--zh-simp-font);
}

[lang="zh-Hant"] {
  font-family: var(--zh-trad-font);
}

.kana,
[lang|="ja"] {
  font-family: var(--ja-font);
}

.latin,
[lang|="en"] {
  font-family: var(--latin-font);

  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Add space between CJK and latin */
.cjk+.latin::before,
.latin+.cjk::before,
.cjk:has(+*>.latin:first-child)::after,
.cjk:has(+*>*:first-child>.latin:first-child)::after,
*:has(>.cjk:last-child)+.latin::before,
*:has(>*:last-child>.cjk:last-child)+.latin::before,
.latin:has(+*>.cjk:first-child)::after,
.latin:has(+*>*:first-child>.cjk:first-child)::after,
*:has(>.latin:last-child)+.cjk::before,
*:has(>*:last-child>.latin:last-child)+.cjk::before {
  content: " ";
}

/* CJK punctuation squeeze */
p>.opening-punc:first-child,
.dot-punc+.opening-punc,
.opening-punc+.opening-punc,
.closing-punc+.opening-punc {
  margin-inline-start: -0.5em;
}

p>.closing-punc:last-child,
.dot-punc:has(+.closing-punc),
.closing-punc:has(+.closing-punc),
.closing-punc:has(+.dot-punc) {
  margin-inline-end: -0.5em;
}

/* MARK: Text grid typography */
.text-grid-container {
  container-type: inline-size;
}

@container (min-inline-size: 18em) {
  .text-grid {
    text-align: justify;
    inline-size: 18em;
  }
}

@container (min-inline-size: 19em) {
  .text-grid {
    inline-size: 19em;
  }
}

@container (min-inline-size: 20em) {
  .text-grid {
    inline-size: 20em;
  }
}

@container (min-inline-size: 21em) {
  .text-grid {
    inline-size: 21em;
  }
}

@container (min-inline-size: 22em) {
  .text-grid {
    inline-size: 22em;
  }
}

@container (min-inline-size: 23em) {
  .text-grid {
    inline-size: 23em;
  }
}

@container (min-inline-size: 24em) {
  .text-grid {
    inline-size: 24em;
  }
}

@container (min-inline-size: 25em) {
  .text-grid {
    inline-size: 25em;
  }
}

@container (min-inline-size: 26em) {
  .text-grid {
    inline-size: 26em;
  }
}

@container (min-inline-size: 27em) {
  .text-grid {
    inline-size: 27em;
  }
}

@container (min-inline-size: 28em) {
  .text-grid {
    inline-size: 28em;
  }
}

@container (min-inline-size: 29em) {
  .text-grid {
    inline-size: 29em;
  }
}

@container (min-inline-size: 30em) {
  .text-grid {
    inline-size: 30em;
  }
}

@container (min-inline-size: 31em) {
  .text-grid {
    inline-size: 31em;
  }
}

@container (min-inline-size: 32em) {
  .text-grid {
    inline-size: 32em;
  }
}

@container (min-inline-size: 33em) {
  .text-grid {
    inline-size: 33em;
  }
}

@container (min-inline-size: 34em) {
  .text-grid {
    inline-size: 34em;
  }
}

@container (min-inline-size: 35em) {
  .text-grid {
    inline-size: 35em;
  }
}

@container (min-inline-size: 36em) {
  .text-grid {
    inline-size: 36em;
  }
}

@container (min-inline-size: 37em) {
  .text-grid {
    inline-size: 37em;
  }
}

@container (min-inline-size: 38em) {
  .text-grid {
    inline-size: 38em;
  }
}

@container (min-inline-size: 39em) {
  .text-grid {
    inline-size: 39em;
  }
}

@container (min-inline-size: 40em) {
  .text-grid {
    inline-size: 40em;
  }
}