.music-album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 2em;
}

.music-album-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
}

article.music-album {
    border: 1px solid var(--lightgray);
    border-radius: 0.8em;
    padding: 1em;
    margin-block-end: auto;

    .album-main {
        display: flex;
        gap: 1em;

        /* cover */
        .album-cover {
            flex: 2;
        }

        .album-info {
            flex: 3;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0.5lh;

            .album-title {
                h2 {
                    display: inline;
                    font-size: 1.2rem;
                    color: var(--black);
                }

                .album-country {
                    font-size: 0.8rem;
                    line-height: 1;
                    color: var(--gray);
                }

                *:not(:last-child) {
                    margin-inline-end: 0.3em;
                }
            }

            .album-artists {
                display: flex;
                flex-wrap: wrap;
                column-gap: 0.5em;

                span {
                    font-size: 0.9rem;
                    font-style: italic;
                }
            }

            .album-detail {
                display: grid;
                grid-template-columns: min-content 1fr;
                grid-auto-rows: max-content;
                gap: 0.2lh 0.5em;

                font-size: 0.8rem;

                .info-key {
                    font-weight: 600;
                }

                .info-value {
                    a {
                        color: var(--black);
                    }

                    *:not(:last-child) {
                        margin-inline-end: 0.3em;
                    }
                }
            }

            .album-video-link {
                font-size: 0.8rem;
                color: var(--gray);
            }
        }
    }

    .album-note {
        font-size: 0.9rem;
        line-height: 1.35;

        p:last-child {
            margin-block-end: 0;
        }
    }
}