.note-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 3em 2em;

    article {
        border: 1px solid lightgray;
        padding-block: 2lh;
        padding-inline: 1.5em;

        /* title */
        >a {
            font-size: 1.2em;
            color: var(--primary);
        }

        /* digest */
        >p {
            max-block-size: 4lh;
            font-size: 0.9em;
            line-height: 1.5;
            margin-block: 1lh 0;
        }
    }
}