.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3em 2em;
}

.photo-list {
    display: flex;
    gap: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    block-size: 100%;

    figure.photo {
        margin-block: 0;

        img {
            max-block-size: 300px;
            max-inline-size: unset;
        }

        p {
            display: none;
        }
    }
}

figure.photo {
    margin: auto;

    figcaption {
        margin-block-start: 0.5lh;

        p {
            font-size: 0.9rem;
            line-height: 1.35;
            margin-block: 0.2lh;
        }
    }
}