---
url: /clip/tag/
title: 剪报
description: 剪报是我很感兴趣的收集形式，这里展示的是以网站链接形式做出来的剪报。把对我很重要或觉得很有意思的网站收集起来了。就像是私人的网络黄页！引文部分收集别人说的话，目前只有一点点。另外还有专题部分：我常常会循着感兴趣的主题探索，在没有整理出一篇笔记之前，收集到的资料也放在这里吧。
renderOrder: 1
---

{% set tags = [] %}
{% for clip in clips %}
  {% for tag in clip.tags %}
    {% if clip.tags and not tags.includes(tag) %}
      {% set tags = tags.concat([tag]) %}
    {% endif %}
  {% endfor %}
{% endfor %}

{# tag nav #}
<a href="/clip/"><p>返回 [按类型分类]</p></a>

<nav class="nav-links section-links">
  <ul>
    <span>&gt;</span>
    {% for tag in tags %}
      <li><a href="#{{ tag | slug }}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for tag in tags %}
  <section>
    <h2 id="{{ tag | slug }}">{{ tag }}</h2>

    <div class="grid clip-grid">
      {% asyncEach clip in clips %}
        {% if clip.tags and clip.tags.includes(tag) %}
          {% include "components/clip.njk" %}
        {% endif %}
      {% endeach %}
    </div>
  </section>
{% endfor %}
