---
url: /clip/
title: 剪报
description: 剪报是我很感兴趣的收集形式，这里展示的是以网站链接形式做出来的剪报。把对我很重要或觉得很有意思的网站收集起来了。就像是私人的网络黄页！引文部分收集别人说的话，目前只有一点点。另外还有专题部分：我常常会循着感兴趣的主题探索，在没有整理出一篇笔记之前，收集到的资料也放在这里吧。
---

{# 1st nav #}
<nav class="nav-links section-links">
  <ul>
    <span>&gt;</span>
    <li><a href="#general">书签</a></li>
    <li><a href="#quotes">引文</a></li>
    <li><a href="#topics">专题</a></li>
  </ul>
</nav>

{# 1. general clips #}
<section>
  <h2 id="general">书签</h2>

  {# 2nd clip nav #}
  <nav class="nav-links section-links">
    <ul>
      <span>&gt;&gt;</span>
      {% for category in categories %}
        <li><a href="#clip-{{ category | slug }}">{{ categoryName[category] }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <a href="/clip/tag/"><p>[按标签分类]</p></a>

  {% for category in categories %}
    <section>
      <h3 id="clip-{{ category | slug }}">{{ categoryName[category] }}</h3>
      <div class="grid clip-grid">
        {% asyncEach clip in clips %}
          {% ifAsync clip.category == category %}
           {% include "components/clip.njk" %}
          {% endif %}
        {% endeach %}
      </div>
    </section>
  {% endfor %}
</section>

{# 2. quotes #}
{% set quotes = search.pages("type=quote") %}
<section class="quotes text-grid-container">
  <h2 id="quotes">引文</h2>
  <div class="text-grid">
    {% for quote in quotes %}
      {{ quote.content | md | cjk | safe }}
    {% endfor %}
  </div>
</section>

{# 3. topics #}
<section>
  <h2 id="topics">专题</h2>
  {% set topics = search.pages("type=clip-topic") %}
  {% for topic in topics %}
    <a href="{{ topic.url }}"><p>{{ topic.title }}</p></a>
  {% endfor %}
</section>
