---
url: /log/
title: 手帐
---

{% set logs = search.pages("type=log", "date=desc") %}
<div class="grid log-grid">
  {% asyncEach log in logs %}
    {% include "components/log.njk" %}
  {% endeach %}
</div>
