---
renderOrder: 4
---

{# recent notes #}
{% set allNotes = search.pages("type=note", "date=desc") %}
{% set recentNotes = [] %}
{% for note in allNotes %}
  {% if recentNotes.length < 5 %}
    {% set recentNotes = recentNotes.concat(note) %}
  {% endif %}
{% endfor %}

{# featured notes #}
{% set featuredNotes = [] %}
{% for name in site.featuredNotes %}
  {% set query = "type=note basename='" + name + "'" %}
  {% set page = search.page(query) %}
  {% if page and not recentNotes.includes(page) %}
    {% set featuredNotes = featuredNotes.concat(page) %}
  {% endif %}
{% endfor %}

<div class="home-grid">
  {# notes #}
  <section id="note">
    <a href="/note/"><h2 class="section-title">笔记本</h2></a>

    <div class="grid note-grid home-list">
      {% for note in featuredNotes %}
      {% include "components/note-card.njk" %}
      {% endfor %}
    </div>
  </section>

  {# recent notes #}
  <section id="recent-note">
    <h2 class="section-title">最近在写</h2>

    <div class="grid note-grid home-list">
      {% for note in recentNotes %}
      {% include "components/note-card.njk" %}
      {% endfor %}
    </div>
  </section>

  {# logs #}
  <section id="log">
    <a href="/log/"><h2 class="section-title">手帐</h2></a>

    {% set logs = search.pages("type=log", "date=desc", 10) %}
    <div class="grid log-grid home-list">
      {% for log in logs %}
      {% include "components/log.njk" %}
      {% endfor %}
    </div>
  </section>

  {# music #}
  <section id="music">
    <a href="/music/"><h2 class="section-title">唱片柜</h2></a>

    {# featured albums #}
    {% set featuredAlbums = [] %}
    {% for name in site.featuredAlbums %}
      {% set query = "type=music-album title='" + name + "'" %}
      {% set page = search.page(query) %}
      {% if page %}
        {% set featuredAlbums = featuredAlbums.concat(page) %}
      {% endif %}
    {% endfor %}

    <div class="grid music-album-grid home-list">
      {% for album in featuredAlbums %}
      {% include "components/music-album.njk" %}
      {% endfor %}
    </div>
  </section>

  {# music log #}
  <section id="music-log">
    <a href="/music/#logs"><h2 class="section-title">音乐日志</h2></a>

    {% set logs = search.pages("type=music-log", "date=desc", 10) %}
    <div class="grid log-grid home-list">
      {% for log in logs %}
      {% include "components/music-log.njk" %}
      {% endfor %}
    </div>
  </section>

  {# photos #}
  <section id="photo">
    <a href="/photo/"><h2 class="section-title">相册</h2></a>

    {# featured photos #}
    {% set featuredPhotos = [] %}
    {% set photos = search.data("/photo/").photos %}
    {% for name in site.featuredPhotos %}
      {% for photo in photos %}
        {% if photo.file == name  %}
          {% set featuredPhotos = featuredPhotos.concat(photo) %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <div class="photo-list home-list">
      {% for photo in featuredPhotos %}
        {% include "components/photo.njk" %}
      {% endfor %}
    </div>
  </section>

  {# clips #}
  <section id="clip" >
    <a href="/clip/"><h2 class="section-title">剪报</h2></a>

    {# featured clips #}
    {% set featuredClips = [] %}
    {% set clips = search.data("/clip/").clips %}
    {% for name in site.featuredClips %}
      {% for clip in clips %}
        {% if clip.title == name  %}
          {% set featuredClips = featuredClips.concat(clip) %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <div class="grid clip-grid home-list">
      {% for clip in featuredClips %}
        {% include "components/clip.njk" %}
      {% endfor %}
    </div>
  </section>

  {# tracks #}
  <section id="track">
    <a href="/track/"><h2 class="section-title">八音盒</h2></a>

    {% set tracks = search.data("/track/").tracks %}
    <div class="grid track-grid home-list">
      {% for track in tracks %}
        {% include "components/track.njk" %}
      {% endfor %}
    </div>
</div>
